:root {
  --color-11: #113362;
  --color-12: #0000ff;
  --color-13: #ddeeff;
  --color-14: #ccebdd;

  --color-20: #ffffff;
  --color-21: #9eeaf9;
  --color-22: #0000c3;
  --color-23: #00007a;

  --error-color: #ff0019;
  --success-color: #009b00;

  --ff-main: Georgia, Helvetica, Calibri, Arial, sans-serif;
}

/**** typography and spacing ****/
body {
  font-family: var(--ff-main);
  line-height: 1.5;
  background-color: var(--color-1);
  margin: auto;
  color: var(--color-5);
}

.font-italic {
  font-style: italic;
}

.py-6 {
  padding-top: 6rem !important;
  padding-bottom: 6rem !important;
}

.py-7 {
  padding-top: 7rem !important;
  padding-bottom: 7rem !important;
}

.container.shadow-wrap {
  background-color: var(--color-2);
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5 !important;
  letter-spacing: 2px;
  font-family:Georgia;
}

a {
  color: var(--color-22);
  text-decoration: underline;
  text-underline-offset: 0.25em;
}

/**** header ****/
.banner {
  text-align: center;
  padding: 1rem;
}

/**** footer ****/
.top-footer {
  border-top: 1px solid var(--color-3);
  padding: 1.5rem 0;
  background-color: var(--color-2);
}

hr {
  border-top: medium double var(--color-4);
}

/**** footer and copyright ****/
#footer-image {
  background-image: url("../images/big-sur.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-5);
  height: 150px;
  border-top: inset 2px var(--color-6);
}

#footer-image > p {
  font-size: 12px;
  padding-top: 1rem;
}

/**** content skip ****/
.btn-skip {
  font-weight: 600;
  cursor: pointer;
  position: absolute;
  z-index: 21;
  left: 0.5em;
  right: auto;
  top: 0.5em;
  opacity: 1;
  transition: transform 0.1875s ease-out;
  background-color: var(--color-11);
}

.btn-skip:not(:focus):not(:hover) {
  transform: translateY(-4em);
  opacity: 0;
}


/***** override primary button *****/
.btn-primary {
  --bs-btn-bg: var(--color-12);
  --bs-btn-hover-bg: #0070b6;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.btn-primary:hover {
  text-decoration: underline;
  text-underline-offset: 0.25em !important;
}


/**** navbar toggle ****/
.navbar-toggler {
  border: 1px solid var(--color-1);
  color: var(--color-1) !important;
  cursor: pointer;
  font-size: 16px;
  background-color: var(--color-3);
  line-height: 1.5;;
}

.navbar-toggler-icon {
  background-image: url('../images/white-toggler.png') !important;
}



/***** background image *****/
.bg-img-hero{
  background-image: url(/images/one-zero.jpg);
  bottom: 0;
    height: 25vh;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    background-size: cover;
}

.text-underline{
  text-decoration: underline;
  text-underline-offset: 0.25em !important;

}