:root {
  --color-11: #113362;
  --color-12: #0000ff;
  --color-13: #ddeeff;
  --color-14: #ccebdd;

  --color-20: #105b6a;
  --color-21: #9eeaf9;
  --color-22: #0000c3;
  --color-23: #00007a;
  --color-24: #03035e;

  --color-30: #ffffff;
  --color-31: #000000;

  --error-color: #ff0019;
  --success-color: #009b00;

  --ff-main: Georgia, Helvetica, Calibri, Arial, sans-serif;

  --bs-navbar-toggler-focus-width: var(--color-20) !important;
}

/**** typography and spacing ****/
body {
  font-family: var(--ff-main) !important;
  line-height: 1.5;
  background-color: var(--color-30);
  margin: auto;
  color: var(--color-31);
}

.font-italic {
  font-style: italic;
}

.py-6 {
  padding-top: 6rem !important;
  padding-bottom: 6rem !important;
}

.py-7 {
  padding-top: 7rem !important;
  padding-bottom: 7rem !important;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5 !important;
  letter-spacing: 2px;
}

a {
  color: var(--color-22);
  text-decoration: underline;
  text-underline-offset: 0.25em;
}

/**** header ****/
header > h1 {
  font-size: calc(1.375rem + 1.5vw);
}

/**** footer ****/
.top-footer {
  border-top: 1px solid var(--color-31);
  padding: 1.5rem 0;
  background-color: var(--color-30);
}

hr {
  border-top: medium double var(--color-30);
}

/**** footer and copyright ****/
#footer-image {
  background-image: url("../images/big-sur.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-5);
  height: 150px;
  border-top: inset 2px var(--color-31);
}

#footer-image > p {
  font-size: 12px;
  padding-top: 1rem;
}

/**** content skip ****/
.btn-skip {
  font-weight: 600;
  cursor: pointer;
  position: absolute;
  z-index: 21;
  left: 0.5em;
  right: auto;
  top: 0.5em;
  opacity: 1;
  transition: transform 0.1875s ease-out;
  background-color: var(--color-11);
}

.btn-skip:not(:focus):not(:hover) {
  transform: translateY(-4em);
  opacity: 0;
}

/***** override primary button *****/
.btn-primary {
  --bs-btn-bg: var(--color-12);
  --bs-btn-hover-bg: #0070b6;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.btn-primary:hover {
  text-decoration: underline;
  text-underline-offset: 0.25em !important;
}

/***** background image *****/
.bg-img-hero {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/images/one-zero.jpg);
  background-size: cover;
}

/***** horizontal bar ******/
.h-bar {
  width: 80%;
  height: 0.5rem;
  background-color: #fff;
  margin: auto;
}

.text-underline {
  text-decoration: underline;
  text-underline-offset: 0.25em !important;
}

/**** logo and title ****/
.odit-logo-title {
  font-size: 1rem;
  letter-spacing: 2px;
  margin-bottom: 0 !important;
  padding: 0 0 0 0.5rem;
  white-space: normal !important;
  color: var(--color-30);
}

/**** navbar toggle ****/
.navbar-toggler {
  border: 1px solid var(--color-30);
  color: var(--color-1) !important;
  cursor: pointer;
  font-size: 16px;
  background-color: var(--color-24);
  line-height: 1.5;
}

.navbar-toggler-icon {
  background-image: url('/images/white-toggler.png') !important;
}

/***** navbar *****/
.odit-navbar {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  padding: 0.25rem 0 !important;
  letter-spacing: 1px;
}

.navbar-nav>.nav-item>.nav-link {
  color: var(--color-30);
}

.navbar-nav>li>a:hover{
  text-decoration: underline;
}

.navbar-nav>.nav-item>.nav-link.active {
  font-style: italic;
  background-color: var(--color-24);
  color: var(--color-30);
  text-decoration: underline;
}

@media screen and (max-width: 991.98px) {
  .odit-navbar {
    padding: 1em 0;
    position: relative;
    top: 0;
  }

  .navbar-nav>.nav-item>.nav-link {
    color: var(--color-30);
  }

  .odit-navbar .navbar-nav>.nav-item .nav-link.active {
    background-color: var(--color-24);
    text-decoration: underline;
  }

  .navbar-nav>li>a:hover {
    background-color: var(--color-30);
    color: var(--color-31) !important;
  }

}

/**** back to top ****/

.back-to-top {
  position: fixed;
  cursor: pointer;
  bottom: 16px;
  right: 16px;
  left: auto;
  opacity: 0;
  transition: opacity .5s linear;
  z-index: 11;
  background-color: var(--color-3);
}